/*-------Variables------*/
/*-------/Variables------*/
/*-------Mixin------*/
/*-------/Mixin------*/
.courses {
  padding-top: 80px;
  padding-bottom: 90px;
  background: #ECF4FF;
}
.courses__title {
  max-width: 674px;
}
.courses__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.courses__item__block {
  padding: 24px 24px 35px;
  background: #ffffff;
  flex: 0 1 31%;
  margin-right: 15px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: box-shadow 0.2s linear;
}
.courses__item__block:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.courses__item__block__image {
  height: 208px;
  overflow: hidden;
  width: 100%;
  margin-bottom: 24px;
}

.courses__item__block__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.courses__item__reactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E9E8E8;
  transform: rotate(-0.18deg);
  padding-bottom: 22px;
  margin-bottom: 20px;
}

.avatar img, .icon img {
  max-width: 100%;
}

.courses__item__reactions__item {
  margin-right: 18px;
}

.courses__item__reactions__item:last-child {
  margin-right: 0;
}

.courses__item__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}
.courses__item__info__what {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #333333;
}
.courses__item__info__cost {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #086CF9;
}

.courses__item__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #555555;
}

.courses__slider {
  display: none;
}

.courses__button {
  text-align: center;
  margin-top: 20px;
}
.courses__button__item {
  padding: 18px 32px;
  font-weight: 500;
}

@media (max-width: 1100px) {
  .courses__item__reactions__item {
    margin-right: 8px;
  }

  .courses__item__info__what {
    font-size: 20px;
    line-height: 24px;
  }

  .courses__item__info__cost {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (max-width: 970px) {
  .courses__item {
    justify-content: center;
  }

  .courses__item__block {
    flex: 0 1 45%;
    margin-right: 30px;
    margin-bottom: 30px;
  }

  .courses {
    padding-bottom: 70px;
    padding-top: 70px;
  }
}
@media (max-width: 780px) {
  .courses__item {
    justify-content: space-between;
  }

  .courses__item__block {
    flex: 0 1 48%;
    margin-right: 10px;
    margin-bottom: 30px;
  }
}
@media (max-width: 610px) {
  .courses__item {
    justify-content: center;
  }

  .top {
    max-width: 420px;
  }

  .courses__item__block {
    flex: 0 1 65%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .none {
    display: none;
  }

  .courses__slider {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .courses__slider__item {
    width: 12px;
    height: 12px;
    background: #ffffff;
    border-radius: 50%;
    border: 1px solid #222222;
    margin-right: 17px;
  }

  .courses__slider__item:nth-child(2) {
    background: #086CF9;
    width: 14px;
    height: 14px;
    border: 1px solid #086CF9;
  }

  .courses__button {
    margin-top: 25px;
  }
  .courses__button__item {
    padding: 9px 15px;
  }
}
@media (max-width: 470px) {
  .courses__item__block {
    flex: 0 1 100%;
  }

  .courses {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

/*# sourceMappingURL=courses.css.map */
