@import "variables.scss";

.event {
  padding-bottom: 110px;
  padding-top: 60px;
  &__item {
    @include flex-align-between;
    flex-wrap: wrap;
  }
}

.event__item__block {
  box-shadow: 0 11px 55px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  flex: 0 1 30%;
  position: relative;
  margin-right: 10px;
  transition: box-shadow 0.2s linear;
  &:hover {
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.3);
  }
}

.event__item__block__image {
  height: 240px;
  overflow: hidden;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
  }
}

.event__item__block__date {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $primary-blue;
  padding: 9px 13px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: $primary-white;
  border-radius: 6px 0 0 0;
  text-align: center;
}

.event__item__block__info {
  padding: 24px 24px 32px;
}

.event__item__block__info__what {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: $primary-black;
  margin-bottom: 20px;
}

.event__item__block__info__else {
  @include flex-align-between;
}
.event__item__block__info__else__time {
  max-width: 100%;
}

@media (max-width: 1080px) {
  .event__item {
    justify-content: center;
    &__block {
      flex: 0 1 35%;
      margin-right: 25px;
      margin-bottom: 40px;
    }
  }
  .event {
    padding-bottom: 50px;
    padding-top: 30px;
  }
}

@media (max-width: 900px) {
  .event {
    padding-bottom: 40px;
    padding-top: 0;
  }
}

@media (max-width: 620px) {
  .event__item__block {
    flex: 0 1 70%;
    margin-right: 0;
    margin-bottom: 25px;
    &__info__what {
      font-size: 18px;
      line-height: 22px;
    }
    &__info__else {
      display: block;
    }
  }
}

@media (max-width: 500px) {
  .event__item__block {
    flex: 0 1 80%;
    &__info__else {
      display: block;
    }
  }
}

@media (max-width: 400px) {
  .event__item__block {
    flex: 0 1 100%;
  }
}

/*-------/Event--------*/

/*-----Statistics2-----*/

.statistics2 {
  padding: 65px;
  background: $violet-background;
}


.statistics2__item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  &__block:hover {
    transform: scale(1.09);
    transition: all 0.3s ease;
  }
  &__block__number {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    color: $primary-black;
    margin-bottom: 16px;
    text-align: center;
  }
  &__block__what {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: $light-black;
    text-align: center;
  }
}

@media (max-width: 1080px) {
  .statistics2__item__block__number {
    font-size: 32px;
    line-height: 35px;
  }
  .statistics2 {
    padding: 55px;
  }
}

@media (max-width: 620px) {
  .statistics2__item__block__number {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 12px;
  }
  .statistics2 {
    padding: 35px;
  }
}

@media (max-width: 500px) {
  .statistics2 {
    padding: 35px 0;
  }
}

@media (max-width: 390px) {
  .statistics2__item__block__number {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .statistics2__item__block__what {
    font-size: 14px;
  }
  .event {
    padding-bottom: 15px;
  }
}