@import "variables.scss";

.say {
  padding-bottom: 100px;
  &__top {
    max-width: 543px;
  }
  &__group__info {
    padding: 0 90px;
    @include flex-align-between;
  }
}

.say__group__info__block {
  box-shadow: 0 13px 45px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  flex: 0 1 32%;
  margin-right: 0;
  padding: 30px 24px 38px 15px;
  transition: box-shadow 0.2s ease;
  &:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  }
  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: $light-black;
    margin-bottom: 20px;
  }
  &__who {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &__image {
      margin-right: 16px;
    }
    &__image img {
      max-width: 100%;
    }
  }
}

.say__group__info__block__who__person__name {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: $primary-black;
  margin-bottom: 8px;
}
.say__group__info__block__who__person__post {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $light-black;
}

/*-----Reviews------*/

.say__group {
  position: relative;
  &__reviews__btn {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    z-index: 1;
    border-radius: 50%;
    font-size: 0;
    color: transparent;
  }
}

.arrow2 {
  width: 45px;
  height: 45px;
  border: 1px solid $border-arrow;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.arrow3 {
  width: 45px;
  height: 45px;
  border: 1px solid $primary-blue;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.arrow--active {
  background-color: $primary-blue;
  transition: background .1s linear;
}

.arrow--active:hover {
  background-color: $darkblue;
}

.say__group__reviews__btn:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-top: 3px solid $border-arrow;
  border-left: 3px solid $border-arrow;
}

.btn--prev {
  left: 16px;
  transform: rotate(-45deg);
}

.btn--next {
  right: 16px;
  transform: rotate(135deg);
}

/*-----/Reviews------*/

@media (max-width: 1000px) {
  .say__group__info {
    padding: 0 60px;
  }
}

@media (max-width: 830px) {
  .say__group__info__block {
    flex: 0 1 31%;
    padding: 25px 20px 34px 13px;
  }
}

@media (max-width: 785px) {
  .say__group__info__block {
    flex: 0 1 48%;
    padding: 30px 24px 38px 15px;
  }
  .none4 {
    display: none;
  }
}

@media (max-width: 570px) {
  .say__group__info__block {
    flex: 0 1 48%;
    padding: 25px 15px 34px 10px;
  }
  .say {
    padding-bottom: 80px;
  }
}

@media (max-width: 513px) {
  .say__group__info {
    justify-content: center;
    &__block {
      flex: 0 1 95%;
      padding: 30px 24px 38px 15px;
    }
  }
  .none5 {
    display: none;
  }
  .arrow2 {
    width: 35px;
    height: 35px;
  }
  .arrow3 {
    width: 35px;
    height: 35px;
  }
  .btn--prev {
    left: 12px;
  }

  .btn--next {
    right: 12px;
  }
}

@media (max-width: 390px) {
  .say__group__info__block {
    flex: 0 1 100%;
    padding: 15px 15px 20px 10px;
  }
  .say__group__info {
    padding: 0 52px;
  }
}

/*-------Form--------*/

.subscribe {
  max-width: 939px;
  height: 325px;
  padding: 48px 25px 64px;
  background: $primary-blue;
  border-radius: 6px;
  margin: 110px auto 0;
  text-align: center;
}

.top--white1 {
  color: $title-white;
}

.top--white2 {
  color: $subtitle-white;
}

.subscribe__form {
  background: $primary-white;
  border-radius: 4px;
  max-width: 538px;
  height: 64px;
  margin: 40px auto 0;
  transition: border .2s linear;

  @include flex-align-between;
  &:hover {
    border: 1px solid $darkblue;
  }
}

.subscribe__form__input {
  font-size: 14px;
  font-family: inherit;
  padding: 20px 24px;
}

.subscribe__form__button {
  margin-right: 8px;
  &:focus {
    background: $darkblue;
  }
}

@media (max-width: 500px) {
  .subscribe {
    margin: 80px auto 0;
  }
}

@media (max-width: 362px) {
  .subscribe__form {
    height: 54px;
  }
  .subscribe {
    padding: 48px 15px 64px;
    height: 300px;
    margin: 60px auto 0;
  }
  .subscribe__form__button {
    margin-right: 8px;
    padding: 8px 12px;
  }
  .subscribe__form__input {
    padding: 5px 0 5px 24px;
  }
}

















